body {
  font-family: "Lato", Helvetica, Arial, Verdana, sans-serif;
  letter-spacing: 0.5px;
}
a {
  text-decoration: none !important;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
 ******** Header custom style *********
 */

header .navbar {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbar-brand strong {
  color: royalblue;
}

.nav-item {
  margin-right: 0.75rem;
}

.nav-item a:hover {
  color: royalblue !important;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-item.active {
    border-bottom: 4px solid royalblue;
    margin-bottom: -12px;
  }
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}

/********** End of Header Section ***********/

/*
 ********  Footer custom style *********
 */

footer {
  padding: 0.5rem 0 0.5rem 0;
  color: white;
}

footer .site-info {
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

footer .site-info p {
  margin: 0;
}

footer .social-media-menu {
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

footer .social-media-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .social-media-menu ul li {
  display: inline;
}

footer .social-media-menu ul li a {
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
  color: white;
  display: inline;
  padding: 0;
}

footer .social-media-menu .fab:hover {
  transform: scale(1.5);
}

.footer-bottom {
  padding: 0.5rem 0 0.5rem 0;
}
/********** End of Footer Section ***********/

/**
******** Card grid styles *******************
*/
.drogon-card .card-title a {
  color: black;
  transition: 0.2s;
}

.drogon-card .card-title a:visited {
  color: black;
}

.drogon-card .card-title a:hover {
  color: royalblue;
}

.drogon-card .card-body {
  background-color: #fcfcfc;
}

.drogon-card .card-body p {
  margin-bottom: 0;
}

.drogon-card .card-footer a {
  color: #6c757d;
  transition: 0.2s;
}

.drogon-card .card-footer a:hover {
  color: royalblue;
}

/* Extra small devices (portrait phones, 575px and below  */
.drogon-card .card-img-top {
  width: 100%;
  height: 45vw;
  object-fit: cover;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .drogon-card .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .drogon-card .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .drogon-card .card-img-top {
    width: 100%;
    height: 13vw;
    object-fit: cover;
  }
}

/********** End of Card Grid Style Section ***********/

/********** Pagination Section ***********************/

.blog-pagination .page-item.active .page-link {
  background-color: royalblue;
  color: white;
}

.blog-pagination .page-link {
  background-color: white;
  color: royalblue;
}

/********** End of Pagination Section ****************/

/********** Breadcrumb Styles ************************/

.breadcrumb {
  background-color: white;
  padding-left: 0;
}

.breadcrumb a {
  color: black !important;
}

.breadcrumb a:hover {
  color: royalblue !important;
}
/********** End of Breadcrumb Styles ******************/

/********** Post Style ********************************/
.post-title {
  margin-bottom: 1rem;
  color: royalblue;
}

.post-meta-data {
  margin-bottom: 2rem;
}

.post-meta-data a {
  color: #6c757d;
}

.post-meta-data a:hover {
  color: royalblue;
}

.post-fimage {
  margin-bottom: 2rem;
}

.post-content blockquote {
  quotes: "" "";
  margin: 1em 1em;
  border-left: 5px solid;
  padding: 10px;
  position: relative;
  font-style: italic;
  font-size: 105%;
  font-weight: 500;
}

.post-content h2 {
    border-bottom: 1px solid rgb(214, 219, 219);
    margin: 30px 0 16px 0;
    padding-bottom: 8px;
}

/********** End of Post Style **************************/

/********** Widget Styles *****************************/
.widget-area .widget {
  margin-bottom: 20px;
  background: #fff;
  padding: 15px;
  border: 1px solid #e8e8e8;
}

.widget-heading {
  font-size: 19px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
}

.widget-post-item {
  margin-top: 15px;
}

.widget-post-content {
  display: block;
}

.widget-post-thumbnail img {
  display: block;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 85px;
  height: 55px;
  background-color: #f4f4f4;
}

.widget-post-info {
  display: block;
  float: left;
  width: calc(100% - 85px);
  font-size: 14px;
  padding-left: 10px;
  cursor: pointer;
  color: #212529;
  line-height: 1.6;
  max-height: 50px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.widget-post-info:hover {
  color: royalblue
}
/********** End of Widget Styles **********************/

/********** Jumbotron Style ***************************/
.jumbotron-bg-cover {
  background-image: url("/images/jumbotron-bg.png");
}
/********** End of Jumbotron Style ********************/
.author-card {
  border: none;
}

.author-card .card-img-top {
  width: 300px;
  height: 300px;
}

.author-card .card-footer {
  background-color: white;
  border: none;
  padding-top: 0;
}
.author-card .card-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.author-card .card-footer ul li {
  display: inline;
}

.author-card .card-footer ul li a {
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  padding: 0;
}

.powered-by ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.powered-by ul li {
  display: inline;
}

.powered-by ul li a {
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  padding: 0;
}
