<!doctype html>
<html lang="{{ .Lang }}" class="h-100">
  <head>
    {{ partial "head-meta" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>
      {{ block "title" . }}
        {{ if ne .Title .Site.Title }}
          {{ .Title}} | {{ .Site.Title }}
        {{ else }}
          {{ .Title }} | {{ .Site.Params.tagline }}
        {{ end }}
      {{ end }}
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/syntax.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/return-to-top.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" type="text/css" media="all">
    
    <!-- Allow to inject custom head links-->
    {{ partial "head-custom" . }}
  </head>
  <body class="d-flex flex-column h-100">
    {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }}

    {{ block "body" . }}
    <div class="site-content mb-5">
        <main class="site-main flex-shrink-0" role="main">
          {{ block "main" . }}
          {{ end }}
        </main>
    </div>
    {{ end }}

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/56e8579880.js"></script>
    <script src="{{ .Site.BaseURL }}js/return-to-top.js"></script>
  </body>
</html>
